.backGround{
    -fx-background-color: #ffffff;
}
/* LABEL */
.label {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 14px;
    -fx-text-fill: #378d4c;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.label-title {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 16px;
    -fx-text-fill: #378d4c;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.label-error {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 12px;
    -fx-text-fill: #c5111d;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.label-good {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 12px;
    -fx-text-fill: #198754;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.border-error{
    -fx-border-color: #c5111d;
}
.border-good{
    -fx-border-color: #198754;
}

.green-color-text{
    -fx-text-fill: #198754;
}

.red-color-text{
    -fx-text-fill: #c5111d;
}

/* Botones */
.btn{
    -fx-cursor: hand;
}
.btn-group .btn{
    -fx-pref-width: 122;
    -fx-min-width: 50;
}
.btn-large{
    -fx-padding:5 50 5 50;
}

.btn-red{
    -fx-text-fill: white;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: #c5111d;
    -fx-border-color: #c5111d;
}

.btn-red:hover{
    -fx-background-color: #bb2d3b;
    -fx-border-color: #bb2d3b;
}

.btn-blue{
    -fx-text-fill: white;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: #0d6efd;
    -fx-border-color: #0d6efd;
}

.btn-blue:hover{
    -fx-background-color: #0b5ed7;
    -fx-border-color: #0b5ed7;
}

.btn-yellow{
    -fx-text-fill: white;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: #ffc107;
    -fx-border-color: #ffc107;
}
.btn-yellow:hover{
    -fx-background-color: #ffca2c;
    -fx-border-color: #ffc720;
}
.btn-yellow-disable{
    -fx-background-color: #ffc107;
    -fx-border-color: #ffc107;
}

.btn-green{
    -fx-text-fill: white;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: #198754;
    -fx-border-color: #198754;
}
.btn-green:hover{
    -fx-background-color: #157347;
    -fx-border-color: #146c43;
}

.btn-gray{
    -fx-text-fill: white;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: #6c757d;
    -fx-border-color: #6c757d;
}
.btn-gray:hover{
    -fx-background-color: #5c636a;
    -fx-border-color: #565e64;
}

/* Bordes */
.border-red{
    -fx-border-color: #c5111d;
}
.border-green{
    -fx-border-color: #198754;
}